.all{
    position: fixed;
    height: 100%;
}
.top-bar-container{
    width: 100%;
    position: fixed;
    height: 50px;
    background-color: #363557;
    display: flex;
    -webkit-box-shadow: 0px 0px 11px 0px rgba($black,0.5);
    -moz-box-shadow: 0px 0px 11px 0px rgba($black,0.5);
    box-shadow: 0px 0px 11px 0px rgba($black,0.5);
}
.logo-container{
    width: $navWidth;
    height: 100%;
    border-right: 1px solid $middark;
    transition: transform 0.2s ease-in-out;
    display: flex;
    align-items: center;
    h1{
        margin-left: 24px;
        font-weight: 700;
        font-size: 30px;
        color:$white;
        span{
            font-weight: 300;
            color:$verylight;
            font-style:normal;
            padding-right: 3px;
        }
    }
}
.top-container{
    position: absolute;
    right: 0;
    transition: width 0.2s ease-in-out;
    height: 100%;
    padding: 0 20px;
    button{
        span{
            color: $verylight;
        }
    }
}


/* ------ Menu control */
.menu-opened{
    .logo-container{
        transform: translateX(0);
    }
    .top-container{
        width: calc(100% - 250px - 40px);//$navWidth indispo dans calc
    }
    .left-nav{
        transform: translateX(0);
    }
}
.menu-closed{
    .logo-container{
        transform: translateX(- $navWidth);
    }
    .top-container{
        width: calc(100% - 40px);
    }
    .left-nav{
        transform: translateX(- $navWidth);
    }
}

/* ------Left nav + expansion */
.left-nav{
    width: $navWidth;
    background-color: $middark;
    height:calc(100% - 50px);
    position: fixed;
    bottom: 0;
    transition: transform 0.2s ease-in-out;
    overflow-y: scroll;
    z-index: 999;
    &::-webkit-scrollbar{
        width: 4px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $light;
    }
}
.nav-list-item{
    color: $white;
    padding: 0 16px 0px 21px!important;
    height: 60px!important;
    position: relative;
    .MuiListItemIcon-root{
        min-width:0;
    }
    .material-icons{
            margin-right: 20px;
            margin-top: -2px;
            color: $tonic;
    }
    .MuiTypography-root{
        font-family: $font;
        font-weight:500;
        color:$white;
    }
    &:before{
        content: "";
        position: absolute;
        width:calc(100% + 37px);
        transform: translateX(calc(-100% - 37px));
        transition: transform .4s ease-in-out;
        height: 100%;
        background-color: rgba($tonic, 0.1);
    }
    &:hover:before{
        transform: translateX(-21px);
    }
    &.Mui-selected{
        background-color: rgba($tonic, 0.2)!important;
        &:hover:before{
            transform: translateX(calc(-100% - 37px));
        }
    }
}
.nav-list{
    padding: 0!important;
}

main{
    position: fixed;
    right: 0;
    top: 50px;
    height: calc(100% - 50px);
    transition: width 0.2s ease-in-out;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: linear-gradient(135deg, $black 0%, $blackGrad 100%);
    &::-webkit-scrollbar{
        width: 4px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $light;
    }

    &.menu-opened{
        width: 100%;
        @include tablet(){
            width: calc(100% - 250px);
        }
    }
    &.menu-closed{
        width:100%;
    }
}
