.flex-section{
    display:flex;
    justify-content: space-between;
}
.content-container{
    width: calc(100% - 20px);
    padding: 20px 10px;
    @include tablet(){
        width: calc(100% - 60px);
        padding: 20px 30px;
    }
    .page-intro{
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0;
        }
        h2{
            color: $dark;
            padding: 5px;
            background-color: $tonic;
            width: fit-content;
            font-weight: 500;
            font-size: 22px;
            margin-bottom: 15px;
            width: -moz-max-content;
        }
        p{
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 5px;
            color: $verylight;
            &:last-child{
                margin-bottom: 0;
            }
            span{
                font-weight: 500;
                color: $tonic;
            }
        }
    }
}
.all-pagination-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 30px;
}
.pagination-skeleton{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 30px;
    width: 100%;
    
    .page-size{
        height: 100%;
        width: 130px;
        background-color: $dark!important;
    }
    .commands{
        height: 100%;
        width: 120px;
        background-color: $dark!important;
    }
}
.bottom-pagination-container{
    display: flex;
    justify-content: flex-end;
    height: 30px;
}
.pagination-commands-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    -webkit-box-shadow:inset 0px 0px 0px 2px;
    -moz-box-shadow:inset 0px 0px 0px 2px;
    box-shadow:inset 0px 0px 0px 2px;
    color: $tonic;
    button{
        background-color: $tonic;
        color: $black;
        padding:  0;
        min-width: 0;
        width: 40px;
        height: 30px;
        box-shadow: none;
        span{
            padding: 0px;
            color: $black;
        }
        &:hover{
            background-color: $verylight;
        }
    }
    p{
        color: $light;
        padding: 0 10px;
    }
}
.pagination-size-container{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    button{
        background-color: $light;
        color: $black;
        min-width: 0;
        padding: 0;
        width: 40px;
        height: 30px;
        margin-right: 6px;
        span{
            font-size: 16px;
            padding: 0px;
        }
        &.active{
            background-color: $tonic;
            span{
                font-weight: 600;
            }
            &:hover{
                background-color: $tonic;
            }
        }
        &:hover{
            background-color: $verylight;
        }
    }
}
.results-count-container{
    position: fixed;
    top: -24px;
    right: -11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    @include tablet(){
        right: 9px;
    }
    svg{
        font-size: 120px;
        z-index: -1;
        color: $light;
    }
    .count-libelle-container{
        margin-top: -82px;
        color: $dark;
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            &.large-results{
                font-size: 20px;
            }
            font-weight: 600;
            font-size: 30px;
        }
    }
}