/* Variables, breakpoints, grid, body */
/* Variables */
$font : 'Montserrat', sans-serif;

$white: #F1F3F4;

$verylight : #AAA8ED;//Expansion content A8BDED
$light : #8a88bf;

$tonic: #7da3fc;

$lightdark : #2e2e4c;
$middark:#25253F;
$dark: #282844;
$black : #1d1e31;//Background
$blackGrad : #1f2135;


$navWidth: 250px;


/* Breakpoints*/
@mixin largePhone {
    @media (min-width: 400px) { @content; }
}
@mixin tablet {
    @media (min-width: 700px) { @content; }
}
@mixin desktop {
    @media (min-width: 1024px) { @content; }
}
@mixin desktopPlus{
    @media (min-width: 1400px) { @content; }
}
@mixin desktopMax{
    @media (min-width: 1800px) { @content; }
}

/* Other */
html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    font-family: $font !important;
}
html {
    background-color: $black;
    height: 100%;
    color: $light;
}
#root{
    height: 100%;
}
.App{
    height: 100%;
}