.article-list{
    width: calc(100%);
    @include desktopPlus(){
        display: flex;
        flex-wrap: wrap;
    }
}
.article-item-skeleton{
    background-color: $dark!important;
    margin-bottom: 20px;
    height: 385px;
    width: 100%;
    display: flex;
    flex-direction: column;
    @include tablet(){
        height: 235px;
        width: 100%;
        flex-direction: row;
    }
    @include desktopPlus(){
        width: calc(50% - 10px);
        margin-right: 0;
        &:nth-child(2n +1){
            margin-right: 20px;
        }
    }
    .poster-skeleton{
        height: 150px;
        width: 100%;
        @include tablet(){
            height: 100%;
            width: 200px;
        }
    }
    .article-content-skeleton{
        width: 100%;
        @include tablet(){
            width: calc(100% - 200px);
        }
        .skeleton-title{
            padding : 20px 20px 10px 20px;
        }
        .skeleton-text{
            padding: 0 20px;
        }
        .skeleton-button{
            position: relative;
            .button{
                position: absolute;
                right: 20px;
            }
        }
    }
}
.article-item{
    background-color: $dark!important;
    margin-bottom: 20px;
    flex-direction: column;
    @include tablet(){
        flex-direction: row;
    }
    @include desktopPlus(){
        width: calc(50% - 10px);
        margin-right: 0;
        &:nth-child(2n +1){
            margin-right: 20px;
        }
    }
    p{
        font-weight: 500;
        color: $light!important;
    }
    &:hover{
        .article-poster-container{
            opacity: 0.8;
        }
        .article-poster{
            transform: scale(1);
        }
    }
}
.article-poster-container{
    width: auto;
    height: 150px;
    @include tablet(){
        width: 200px;
        height: auto;
        border-top-right-radius: 0px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius:0px;
    }
    overflow: hidden;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
    background-size: cover!important;
    .article-poster{
        width: 100%;
        height: 100%;
        background-size: cover!important;
        transform: scale(1.1);
        transition: transform 0.2s ease-in-out
    }
}
.article-content{
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 40px;
    @include tablet(){
        width: calc(100% - 200px);
    }
    .article-infos{
        display: flex;
        background-color: $light;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        border-top-right-radius: 0px;
        box-shadow: 0px 1px 5px 0px rgba(20,20,20,1);
        @include tablet (){
            border-top-right-radius: 4px;
        }
        p{
            color: $dark!important;
        }
        .source{
            font-weight: 600;
            padding-right: 20px;
        }
    }
    .chapo{
        padding : 20px 20px 0px 20px;
    }
    h3{
        color: $white;
        font-weight: 500;
        font-size: 17px;
        line-height: 23px;
        margin-bottom: 10px;
    }
    .article-text{
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
    }
}
.article-action-button{
    position: absolute!important;
    right: 10px;
    bottom: 10px;
    span{
        text-transform: none;
        color: $tonic!important;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        transition: letter-spacing 0.2s ease-in-out;
        z-index: 1;
        -webkit-transition: all .3s;
        transition: all .3s;
    }
    svg{
        padding-left: 5px;
        color: $tonic;
        z-index: 1;
        -webkit-transition: all .3s;
        transition: all .3s;
    }
    &:last-child{
        margin-left: 20px;
    }
    &:after {
        position: absolute;
        top: 82%;
        right: 10px;
        border-radius: 4px;;
        content: "";
        width: 80%;
        height: 10%;
        -webkit-transition: all .3s;
        transition: all .3s;
        background: linear-gradient(135deg,$verylight 0,$tonic);
    }
    &:hover{
        span{
            color: $dark!important;
        }
        svg{
            color: $dark;
        }
        &:after{
            top: 0%;
            right:0;
            width: 100%;
            height: 100%;
        }
    }
}