.authentication-tabs-container{
    margin-top: 20px;
    max-width: 400px;
    .form-loader{
        padding: 20px;
        display: flex;
        justify-content: center;
        width:100%;
        svg{
            color: $tonic;
        }
    }
    .MuiFormControl-root{
        margin-bottom:10px;
        label, input{
            color: $dark;
        }
        .MuiInput-underline:after{
            border-bottom-color: $dark!important;
        }
    }
    .authentication-button{
        text-transform: none;
        color: $tonic;
        font-size: 16px;
        font-weight: 500;
        z-index: 1;
        -webkit-transition: all .3s;
        transition: all .3s;
        position: relative;
        background-color: $dark;
        border: none;
        padding:10px;
        margin-top: 10px;
        border-radius: 4px;
        cursor: pointer;
        &:hover{
            background-color: $tonic;
            color: $dark;
        }
    }
}
.tabs-headers{
    background-color: $dark;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    button{
        padding: 10px;
        min-height: 0!important;
        opacity: 1!important;
        transition: color .2s ease;
        &.Mui-selected{
            color: $tonic;
        }
    }
    .MuiTabs-indicator{
        background-color: $tonic;
        height: 3px;
    }
    .MuiTab-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-transform: none;
        text-align: left;
        font-size: 16px;
        svg{
            margin-right: 10px;
            margin-bottom:0!important;
        }
        
    }
}
.auth-box-container{
    padding: 20px;
    background-color: $light;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.authentication-succeed{
    p{
        color:$dark!important;
        font-weight: 400;
    }
}
.authentication-failed{
    margin-top:20px;
    p{
        color:$dark!important;
        font-weight: 600;
        span{
            color:$dark!important;
            font-weight: 400;
        }
    }
}