.error-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    opacity: 0.3;
    p{
        color: $light;
        font-size: 40px;
        font-weight: 200;
        text-align: center;
    }
    span{
        font-size: 200px;
        margin-bottom: 20px;
    }
}