.sources-list-checkbox-list{
    width: 100%;
    .MuiFormGroup-root{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .MuiFormControlLabel-root{
            width: 100%;
            margin-right: 0;
            @include tablet(){
                width: 50%
            }
        }
    }
}
.sources-list-loader{
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        color: $tonic;
    }
}