.filters-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 12px;
    h2{
        color: $dark;
        background-color: $verylight;
        padding: 6px;
        border-radius: 4px;
        font-weight: 500;
        font-size: 22px;
        margin-right: 8px;
        height: fit-content;
        max-height: 32px;
    }
    .chip-item{
        background-color: $lightdark!important;
        margin-right: 8px;
        margin-bottom: 8px;
        transform: scale(1);
        transition: transform .2s ease-in-out;
        box-shadow: 1px 1px 8px -2px rgba(0,0,0 ,0.4);
        z-index: 999999999999999999999;
        &:hover{
            transform: scale(1.05);
        }
        .MuiAvatar-root{
            background-color: $verylight;
            span{
                height: auto;
                color: $lightdark;
            }
        }
        .MuiChip-label{
            color: $verylight!important;
            font-size: 18px;
            font-weight: 500;
            padding: 15px;
        }
        &.changeable:hover{
            cursor: pointer;
        }
        .MuiChip-deleteIcon{
            color: $light;
            &:hover{
                color: $verylight;
            }
        }
        .MuiSvgIcon-root{
            transform: scale(1);
            transition: transform .2s ease-in-out;
            &:hover{
                transform: scale(1.15);
            }
        }
    }
}
.filters-show-button-container{
    margin: 0;
    button{
        min-height: 0;
        height: 32px;
        width: 32px;
        background-color: $tonic;
        color: $black;
        &.MuiSpeedDial-fab{
            transition: transform 0s ease!important;
            display: none;//MAJ no fab
        }
        &:hover{
            background-color: $tonic;
            color: $black;
        }
    }
    >div{
        margin-left: 0!important;
        padding-left: 0!important;
        button{
            margin: 0;
            margin-left: 8px;
            background-color: $verylight;
            color: $lightdark;
            &:first-child{
                margin-left: 0;//MAJ no fab
            }
            &:hover{
                background-color: $verylight;
                color: $lightdark;
            }
        }
    }
}
.Mui-checked{
    color: $tonic!important;
}
.actions-container{
    justify-content: space-between!important;
    .cta{
        color: $lightdark!important;
    }
    .important-cta{
        background-color: $dark;
        color: $tonic;
        font-weight: 500;
        &:hover{
            background-color: $black;
        }
    }
}