.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        color: $light;
        font-size: 20px;
        font-weight: 200;
        text-align: center;
    }
    span{
        font-size: 200px;
        margin-bottom: 20px;
    }
}