.source-list{
    width: calc(100%);
    @include desktopPlus(){
        display: flex;
        flex-wrap: wrap;
    }
}
.source-item-skeleton{
    background-color: $dark!important;
    margin-bottom: 20px;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    @include tablet(){
        height: 150px;
        width: 100%;
        flex-direction: row;
    }
    @include desktopPlus(){
        width: calc(50% - 10px);
        margin-right: 0;
        &:nth-child(2n +1){
            margin-right: 20px;
        }
    }
    .source-content-skeleton{
        width: 100%;
        .skeleton-title{
            padding : 20px 20px 10px 20px;
        }
        .skeleton-text{
            padding: 0 20px;
        }
        .skeleton-button{
            position: relative;
            .button{
                position: absolute;
                right: 20px;
            }
        }
    }
}
.source-item{
    background-color: $dark!important;
    margin-bottom: 20px;
    flex-direction: column;
    @include tablet(){
        flex-direction: row;
    }
    @include desktopPlus(){
        width: calc(50% - 10px);
        margin-right: 0;
        &:nth-child(2n +1){
            margin-right: 20px;
        }
    }
    p{
        font-weight: 500;
        color: $light!important;
    }
    &:hover{
        .redirect-button{
            span{
                letter-spacing: 2px;
            }
        }
    }
}
.source-content{
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 55px;
    .source-infos{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: $verylight;
        padding: 10px 20px;
        box-shadow: 0px 1px 5px 0px rgba(20,20,20,1);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        h3{
            color: $black;
            font-weight: 600;
            font-size: 21px;
            margin: 4px 0;
            line-height: 23px;
        }
    }
    .chapo{
        padding : 20px 20px 0px 20px;
    }
    h3{
        color: $white;
        font-weight: 500;
        font-size: 17px;
        line-height: 23px;
        margin-bottom: 10px;
    }
    .source-text{
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
    }
}
.source-item-button-container{
    position: absolute!important;
    right: 10px;
    bottom: 15px;
}
.source-action-button{
    background-color: none!important;
    position: relative;
    span{
        text-transform: none;
        color: $tonic!important;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        transition: letter-spacing 0.2s ease-in-out;
        z-index: 1;
        -webkit-transition: all .3s;
        transition: all .3s;
    }
    svg{
        padding-left: 5px;
        color: $tonic;
        z-index: 1;
        -webkit-transition: all .3s;
        transition: all .3s;
    }
    &:last-child{
        margin-left: 20px;
    }
    &:after {
        position: absolute;
        top: 82%;
        right: 10px;
        border-radius: 4px;;
        content: "";
        width: 80%;
        height: 10%;
        -webkit-transition: all .3s;
        transition: all .3s;
        background: linear-gradient(135deg,$verylight 0,$tonic);
    }
    &:hover{
        span{
            color: $dark!important;
        }
        svg{
            color: $dark;
        }
        &:after{
            top: 0%;
            right:0;
            width: 100%;
            height: 100%;
        }
    }
}
.source-chip-item{
    background-color: $lightdark!important;
    margin-right: 8px;
    box-shadow: 1px 1px 8px -2px rgba(0,0,0 ,0.4);
    z-index: 999999999999999999999;
    &:last-child{
        margin-right: 0;
    }
    .MuiAvatar-root{
        background-color: $lightdark;
        span{
            height: auto;
            color: $verylight;
        }
    }
    .MuiChip-label{
        color: $verylight!important;
        font-size: 18px;
        font-weight: 500;
        padding: 15px;
        padding-left: 8px;
    }
    .MuiSvgIcon-root{
        transform: scale(1);
        transition: transform .2s ease-in-out;
        &:hover{
            transform: scale(1.15);
        }
    }
}