.title-container{
    margin-bottom : 20px;
    .title-item{
        display: flex;
        align-items: center;
        span{
            color: $tonic;
            font-size: 40px;
            text-shadow: 0px 1px 5px 0px rgba(20,20,20,1);
            margin-right: 7px;
            margin-left: -5px;
        }
    }
    h2{
        font-weight: 500;
        color: $white;
        font-size : 27px;
        z-index: 999;
    }
}